.navbar {
    overflow: hidden;
    background-color: #497c9d;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropdown-pro:hover .dropbtn-pro{
    background-color: #f9f9f9;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-pro {
    float: right;
    overflow: hidden;
}

.dropdown-pro .dropbtn-pro {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content-pro {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 1px;
}

.dropdown-content-pro a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content-pro a:hover {
    background-color: #ddd;
}

.dropdown-pro:hover .dropdown-content-pro {
    display: block;
}


/* Кнопки */
.button_edit {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: rgba(0, 0, 0, 0.07);
  background: #faa732;
  transition: 0.2s;
}
.button.button-edit:hover {background: #f9960a}

.button_add {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: rgba(0, 0, 0, 0.07);
  background: #5bb75b;
  transition: 0.2s;
}
.button_add:hover { background: #47a247}

.button_add_form {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 1px 0;
  border-style: solid none;
  border-color: rgba(0, 0, 0, 0.07);
  background: #5bb75b;
  transition: 0.2s;
}
.button_add_form:hover { background: #47a247}

.button_cancel_form {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .3em 2em;
  outline: none;
  border-width: 1px 0;
  border-style: solid none;
  border-color: rgba(0, 0, 0, 0.07);
  background: #0088cc;
  transition: 0.2s;
}
.button_cancel_form:hover { background: #006da3}

.button_del {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: rgba(0, 0, 0, 0.07);
  background: #da4f49;
  transition: 0.2s;
}
.button.button-del:hover {background: #d0312a}

.button_info {
  display: inline-block;
  color: black;
  border: 1px solid black; /* Параметры рамки */
  text-decoration: none;
  padding: .1em 1em; /* Поля вокруг текста */
  outline: none;
  background: #ffffff;
  transition: 0.2s;
}
.button.button-info:hover {background: #006da3}

/* Body */
#glaw{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width:1000px;
}
.blok_center, .blok_right{
  border-radius: 4px;
  box-shadow: rgba(0,0,0,1.2) 0px 1px 3px;
}
.blok_center{
  margin:10px 3px 3px 3px;
  background: #FFFFFF;
  width:700px;
  height:150px;

  text-align: left;
}

.blok_right{
  float:left;
  margin-top:-495px;
  margin-left:420px;
  background: #F0FCE8;
  width:250px;
  height:480px;
  padding: 5px;
  text-align: center;
}
