{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link href="{% static '/css/default.css'%}" rel="stylesheet">
</head>

<header>
  <nav class="navbar">
    <div class="dropdown">
      <a class="navbar-brand" href="#">News</a>
      <a class="nav-link" href="{% url 'posts' %}">Главная</a>
      <a class="nav-link" href="{% url 'search' %}">Поиск</a>
      <a class="nav-link" href="{% url 'categories' %}">Категории</a>
      {% if is_authors %}
      <a class="nav-link" href="{% url 'post_create' %}">Добавить пост</a>
      {% endif %}
    </div>
    {% if user.is_authenticated %}
    <div class="dropdown-pro">
      <button class="dropbtn-pro">{{ user.username }}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content-pro">
        <a href="{% url 'profile' %}">Профиль</a>
        <a href="{% url 'logout' %}">Выйти</a>
      </div>
    {% else %}
      <div class="dropdown-pro">
        <a href="{% url 'login' %}">Войти</a>
      </div>
    </div>
    {% endif %}
  </nav>
</header>

<body>

  <!-- Page Content -->
<div id="glaw">
  {% block content %}
  {% endblock content %}
</div>

</body>

</html>
