{%extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
News
{% endblock title %}


{% block content %}
    <h1>Количество статей:  {{ news|length }}</h1>
    <h1>Все статьи</h1>
    <h3>{{ time_now|date:'d M Y' }}</h3>
    <hr>
    {%  if news %}
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Первые 20 слов
                </td>
            </tr>
        {% for post in news %}
            <tr>
                <td>
                    {{ post.post_title }}
                </td>
                <td>
                    {{ post.post_time }}
                </td>
                <td>
                    {{ post.post_text|censor|truncatechars:50}}
                </td>
            </tr>
        {% endfor %}
        </table>
    {%  else %}
        <h1>новостей нет</h1>
    {% endif %}
{% endblock content %}
